/*
Grid that displays at max 2 columns per row.
*/
.content-grid {
  margin: 40px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 600px) {
  .content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content-grid > div {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Place content in center */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.content-grid > div img {
    min-width: 50%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.content-grid > div a {
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
    font-weight: bold;
    margin-top: 10px;
}

[data-theme="dark"] .content-grid > div {
    background: #2c2c2c;
    color: white;
}

[data-theme="dark"] .content-grid > div a {
    background-color: #444;
    color: #fff;
}