.navbar {
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background: #b1c1de; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bbcde2,
    #b1c1de
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bbcde2,
    #b1c1de
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

[data-theme="dark"] .navbar {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.navbar-brand {
  color: #001f40;
  font-weight: bold;
}

[data-theme="dark"] a.navbar-brand {
  color: #bfdeff;
}

a.nav-item {
  color: #001f40;
}

[data-theme="dark"] body {
  background-color: #17191a;
  color: white;
}

[data-theme="dark"] a.nav-item {
  color: #bfdeff;
}

#theme-toggler:before {
  content: "🌙";
}

[data-theme="dark"] #theme-toggler:before {
  content: "🌞";
}