.container {
  max-width: 100%;
}

.mt-5 {
  margin-top: 0px !important;
}

[data-theme="dark"] body {
  background-color: #17191a;
  color: white;
}

[data-theme="dark"] a.nav-item {
  color: #bfdeff;
}

#theme-toggler:before {
  content: "🌙";
}

[data-theme="dark"] #theme-toggler:before {
  content: "🌞"
}

.hero {
  text-align: center;
  /* padding: 60px 20px; */
  /*A light colored background*/
  background: #bbbbbb;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.button-group .btn {
  display: inline-block;
  color: white;
  background: #333;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button-group .btn:hover {
  background: #ddd;
}

.content {
  /* max-width: 800px; */
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.6;
  text-align: center;
}

nav ul li a[href*="projects"],
nav ul li a[href*="blog"],
nav ul li a[href*="about"] {
  display: none !important;
}

footer {
  display: none !important;
}