.container {
  max-width: 100%;
}

.mt-5 {
  margin-top: 0px !important;
}

[data-theme="dark"] body {
  background-color: #17191a;
  color: white;
}

.navbar {
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background: #b1c1de;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bbcde2, #b1c1de);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bbcde2, #b1c1de); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

[data-theme="dark"] .navbar {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.navbar-brand {
  color: #001f40;
  font-weight: bold;
}

[data-theme="dark"] a.navbar-brand {
  color: #bfdeff;
}

a.nav-item {
  color: #001f40;
}

[data-theme="dark"] a.nav-item {
  color: #bfdeff;
}

#theme-toggler:before {
  content: "🌙";
}

[data-theme="dark"] #theme-toggler:before {
  content: "🌞"
}

.hero {
  text-align: center;
  /* padding: 60px 20px; */
  background: #333;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.button-group .btn {
  display: inline-block;
  background: white;
  color: #333;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button-group .btn:hover {
  background: #ddd;
}

.content {
  /* max-width: 800px; */
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.6;
  text-align: center;
}

nav ul li a[href*="projects"],
nav ul li a[href*="blog"],
nav ul li a[href*="about"] {
  display: none !important;
}

footer {
  display: none !important;
}