/* Add additional container sizes */
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}

.mt-5 {
  margin-top: 0px !important;
  max-width: 100% !important;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  /*A light colored background*/
  background: #bbbbbb;
}

.hero {
  background-color: #8BC6EC;
  background-image: -webkit-linear-gradient(135deg, #a8d4f1 0%, #afb2e9 100%);
  background-image: linear-gradient(135deg, #a8d4f1 0%, #afb2e9 100%);
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.button-group .btn {
  display: inline-block;
  color: white;
  background: #333;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button-group .btn:hover {
  background: #777;
}

.content {
  /* max-width: 800px; */
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.6;
  text-align: center;
}

.content > h2 {
  color: #0d3651;
}

nav ul li a[href*="projects"],
nav ul li a[href*="blog"],
nav ul li a[href*="about"] {
  display: none !important;
}

footer {
  display: none !important;
}